.view_rdnz, .activate_rdnz, .deactivate_rdnz, .phase6_rdnz
{
  float: right;
}
.activate_rdnz, .deactivate_rdnz, .phase6_rdnz
{
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.view_rdnz, .phase6_rdnz
{
  margin-right: 10px;
}
.activate_rdnz
{
  background-image: url("bookmark-hollow.svg");
}
.deactivate_rdnz
{
  background-image: url("bookmark.svg");
}
.phase6_rdnz
{
  background-image: url("phase6.ico");
}
.view1_rdnz
{
  font-size: 13px;
}
.view_frequented_rdnz
{
  color: red;
}
.ui-widget
{
  font-size: 12px !important;
}
button#library
{
  width: 283.6px;
  margin: 10px 0;
}
table.table_save_rdnz
{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
th.table_save_rdnz:nth-child(1)
{
  width: 12%;
}
th.table_save_rdnz:nth-child(2)
{
  width: 10%;
}
th.table_save_rdnz:nth-child(3)
{
  width: 8%;
}
th.table_save_rdnz:nth-child(4)
{
  width: 12%;
}
th.table_save_rdnz:nth-child(5)
{
  width: 10%;
}
th.table_save_rdnz:nth-child(6)
{
  width: 24%;
}
th.table_save_rdnz:nth-child(7)
{
  width: 12%;
}
th.table_save_rdnz:nth-child(8)
{
  width: 12%;
}
th.table_save_rdnz, td.table_save_rdnz
{
  padding: 10px;
  text-align: center;
}
thead.table_save_rdnz
{
  border-bottom: 1px solid black;
}
tbody>tr.table_save_rdnz:nth-child(odd)
{
  background-color: #ddd;
}
tr.ui-selecting, tr.ui-selected
{
  background-color: #00a7dc;
}
tbody>tr.ui-selecting:nth-child(odd), tbody>tr.ui-selected:nth-child(odd)
{
  background-color: #00c1ff;
}
.word_column_rdnz
{
  cursor: pointer;
}
/*
.view_input_rdnz
{
  border: 1px solid gray !important;
  padding :0 !important;
  box-shadow: none !important;
  background: none;
  border-radius: unset
}
*/
th.table_save_rdnz;
{
  background-image: url("column_sort.svg");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}
th.table_save_rdnz.ascending
{
  background-image: url("column_sort_ascending.svg");
}
th.table_save_rdnz.descending
{
  background-image: url("column_sort_descending.svg");
}
/*div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable
{
  background-color: white !important;
}*/
