#save_rdnz
{
  position: fixed;
  top: 50%;
  margin: 0 1px;
}
li.select_rdnz
{
  float: left;
}
input.select_rdnz
{
  margin-right: .25rem;
}
label.reverse_rdnz
{
  margin: 3px 4px 0 0;
  float: right;
  padding: 0;
}
img.reverse_rdnz
{
  height: 23px;
  width: 23px;
  margin: 0 7.1073908706237905px; // golden ratio
}
.dt-inner
{
  margin-right: 43.214781741247585px; // img.reverse_rdnz margin, border, and width
}
